# Q1

El primer paso es seleccionar lo datos desde MongoDB, pasarlos a un dataframe, limpiarlos y guardar las seleccion de datos en un archivo json para volver a llevarlos a MongoDB.

In [1]:
import pymongo
from pymongo import MongoClient
import pandas as pd
import seaborn as sns
from pandas.io.json import json_normalize 
import json

In [2]:
client = MongoClient('mongodb://localhost:27017/')     #connection with mongo
db = client.db_comp                               #connection with the database
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'db_comp')

In [3]:
#Testing the base data upload
len(list(db.comp.find())) #18801 registros

18801

In [4]:
# Collecting the relevant data: the startup clients
startup_clients = db.comp.find(
                                    {'$and':[
                                              {'$or':[ #Evaluates one or more expressions and returns true if any of the expressions are true. Otherwise, $or returns false.
                                                  {'category_code':'web'},
                                                  {'category_code':'software'},
                                                  {'category_code':'music'},
                                                  {'category_code':'news'},
                                                  {'category_code':'ecommerce'},
                                                  {'category_code':'photo_video'},
                                                  {'category_code':'games_video'},
                                                  {'category_code':'advertising'},
                                                  {'category_code':'network_hosting'},
                                                  {'category_code':'analytics'},
                                                  {'category_code':'cleantech'},
                                                  {'category_code':'education'},
                                                  {'category_code':'sports'},
                                                  {'category_code':'biotech'},
                                                  {'category_code':'travel'},
                                                  {'category_code':'nonprofit'},
                                                  {'category_code':'nanotech'}
                                              ] # Termina el '$or' 
                                              },
                                        {'number_of_employees':{'$gt':0,'$lte':100}},
                                        {'founded_year':{'$gte':2007}},
                                        {'offices':{'$ne':[]}}, #$ne selects the documents where the value of the field is not equal to the specified value. This includes documents that do not contain the field.
                                        {'offices.latitude':{'$ne':[]}},
                                        {'offices.longitude':{'$ne':[]}},
                                        {'offices.latitude':{'$ne':None}},
                                        {'offices.longitude':{'$ne':None}},
                                        {'deadpooled_year':None},
                                        {'number_of_employees':{'$ne':None}},
                                        {'total_money_raised':{'$ne':None}}
                                          ] # Termina el '$and' 
                                      },
                                {'_id':0,'name':1,'number_of_employees':1,'offices':1}
                                ).sort('number_of_employees',-1)
startup_clients_list = list(startup_clients)

# Bd with 1416 registries
print(f'The number of offices considered are {len(startup_clients_list)}')

The number of offices considered are 1416

In [38]:
#Normalizando los datos de las oficinas
#startup_clients_offices = json_normalize(startup_clients_list,'offices')

df = pd.DataFrame(startup_clients_list) 
clean_df = pd.concat([df.drop('offices',axis=1), df.offices.str[0].apply(pd.Series)],axis=1)
clean_df.head() # This df has a more complete info

,name,number_of_employees,description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude
0,Social Gaming Network,100,HQ Los Angeles,9570 W. Pico Blvd 3rd Floor,,90035,Los Angeles,CA,USA,37.446823,-122.161523
1,Edmodo,100,,"60 E. Third Ave., #390",,94401,San Mateo,CA,USA,41.857915,-88.321171
2,plista,100,Headquarter,Torstraße 33-35,,10119,Berlin,None,DEU,52.528361,13.412456
3,FetchBack,100,"FetchBack, Inc.",100 W University Drive,Suite 101,85281,Tempe,AZ,USA,33.426418,-111.939600
4,Trustpilot,100,Copenhagen HQ,Trommesalen 5,,1614,Copenhagen V,None,DNK,55.673962,12.560537

In [39]:
clean_df.isnull().sum()

name                     0
number_of_employees      0
description            204
address1                 7
address2                20
zip_code                 6
city                     3
state_code             503
country_code             0
latitude                 0
longitude                0
dtype: int64

In [40]:
#According to the mongo Geolocation documentation, a new column with the long, lat array is created:

clean_df['Geolocation'] = clean_df.apply(lambda df:{'type':'Point', 'coordinates':[df.longitude, df.latitude]}, axis=1)
clean_df.head(2)

,name,number_of_employees,description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude,Geolocation
0,Social Gaming Network,100,HQ Los Angeles,9570 W. Pico Blvd 3rd Floor,,90035,Los Angeles,CA,USA,37.446823,-122.161523,"{'type': 'Point', 'coordinates': [-122.161523,..."
1,Edmodo,100,,"60 E. Third Ave., #390",,94401,San Mateo,CA,USA,41.857915,-88.321171,"{'type': 'Point', 'coordinates': [-88.321171, ..."

In [41]:
clean_df.shape

(1416, 12)

In [42]:
# Dataframe to json
clean_df.reset_index().to_json('geop.json', orient='records')