# Q1

El primer paso es seleccionar lo datos desde MongoDB, pasarlos a un dataframe, limpiarlos y guardar las seleccion de datos en un archivo json para volver a llevarlos a MongoDB.

In [1]:
import pymongo
from pymongo import MongoClient
import pandas as pd
import seaborn as sns
from pandas.io.json import json_normalize 
import json

In [2]:
client = MongoClient('mongodb://localhost:27017/')     #connection with mongo
db = client.db_comp                               #connection with the database
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'db_comp')

In [3]:
#Comprobando que haya cargado toda la bd
len(list(db.comp.find())) #18801 registros

18801

In [8]:
# Collecting the relevant data: the startup clients
startup_clients = db.comp.find(
                                    {'$and':[
                                              {'$or':[ #Evaluates one or more expressions and returns true if any of the expressions are true. Otherwise, $or returns false.
                                                  {'category_code':'web'},
                                                  {'category_code':'software'},
                                                  {'category_code':'music'},
                                                  {'category_code':'news'},
                                                  {'category_code':'ecommerce'},
                                                  {'category_code':'photo_video'},
                                                  {'category_code':'games_video'},
                                                  {'category_code':'advertising'},
                                                  {'category_code':'network_hosting'},
                                                  {'category_code':'analytics'},
                                                  {'category_code':'cleantech'},
                                                  {'category_code':'education'},
                                                  {'category_code':'sports'},
                                                  {'category_code':'biotech'},
                                                  {'category_code':'travel'},
                                                  {'category_code':'nonprofit'},
                                                  {'category_code':'nanotech'}
                                              ] # Termina el '$or' 
                                              },
                                        {'number_of_employees':{'$gt':0,'$lte':100}},
                                        {'founded_year':{'$gte':2007}},
                                        {'offices':{'$ne':[]}}, #$ne selects the documents where the value of the field is not equal to the specified value. This includes documents that do not contain the field.
                                        {'offices.latitude':{'$ne':[]}},
                                        {'offices.longitude':{'$ne':[]}},
                                        {'offices.latitude':{'$ne':None}},
                                        {'offices.longitude':{'$ne':None}},
                                        {'deadpooled_year':None},
                                        {'number_of_employees':{'$ne':None}},
                                        {'total_money_raised':{'$ne':None}}
                                          ] # Termina el '$and' 
                                      },
                                {'_id':0,'name':1,'number_of_employees':1,'offices':1}
                                ).sort('number_of_employees',-1)
startup_clients_list = list(startup_clients)
# Base de datos con 1416

In [9]:
#Normalizando los datos de las oficinas
startup_clients_offices = json_normalize(startup_clients_list,'offices')
startup_clients_offices.head()

,address1,address2,city,country_code,description,latitude,longitude,state_code,zip_code
0,9570 W. Pico Blvd 3rd Floor,,Los Angeles,USA,HQ Los Angeles,37.446823,-122.161523,CA,90035
1,9606 S. Santa Monica Blvd,2nd Floor,Beverly Hills,USA,,34.069849,-118.405418,CA,90210
2,"60 E. Third Ave., #390",,San Mateo,USA,,41.857915,-88.321171,CA,94401
3,Torstraße 33-35,,Berlin,DEU,Headquarter,52.528361,13.412456,None,10119
4,100 W University Drive,Suite 101,Tempe,USA,"FetchBack, Inc.",33.426418,-111.939600,AZ,85281

In [10]:
startup_clients_offices.isnull().sum()

address1          7
address2         20
city              3
country_code      0
description     204
latitude          0
longitude         0
state_code      542
zip_code          6
dtype: int64

In [17]:
#Haciendo nueva columna de Geolocation con un array del long, lat
startup_clients_offices['Geolocation'] = startup_clients_offices.apply(lambda df: [df.longitude, df.latitude], axis=1)
startup_clients_offices.head(2)

,address1,address2,city,country_code,description,latitude,longitude,state_code,zip_code,Geolocation
0,9570 W. Pico Blvd 3rd Floor,,Los Angeles,USA,HQ Los Angeles,37.446823,-122.161523,CA,90035,"[-122.161523, 37.446823]"
1,9606 S. Santa Monica Blvd,2nd Floor,Beverly Hills,USA,,34.069849,-118.405418,CA,90210,"[-118.4054182, 34.0698494]"

In [18]:
# Dataframe to json
startup_clients_offices.to_json('startup_offices.json')